body { 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content left;
  background: url(../img/portland.jpeg);
  background-color: #cccccc;
}

.bg {
  background-image: url(/img/portland.jpeg);

}

.column {
  height: height: 10%;
  width: 230px;
  border: 0px;
  background-color: #E7E7E7;
  padding: 7px;
  margin: 20px;
  float: left;
  
}

.everything {
  background-color: aqua;
  width: 800px;
  height: 100%;
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.container2 {
  height: 110px;
  width: 70%;
  border: 0px;
  background-color: #E7E7E7;
  padding: 7px;
  float: left;
  margin: 8px;

  
}

.container1 {
  float: left;
  margin: 8px;
  width: 230px;
  border: 0px;
  background-color: #684141;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-child {
  background-color: #ffffff;
  border: 1px solid #000;
  width: 90%;
  margin: 2px;
  padding: 2px;
  display: flex;
  justify-content: center;

}

.column h1 {
  color:indianred;
  font-size: 12pt;
  text-align: center;
}

.column-left h1 {
  color:indianred;
  font-size: 11pt;
  text-align: center;
}